.tox
*.pyc
*.swp
.ropeproject
*.orig
*.h5
*.png
*.coverage
*.cache
.vscode
!src/odinapi/systemtest/testdata/*.json
!/package.json
env
ghostdriver.log
systemtest.log
result.xml
/node_modules
/HeadlessChrome*
/TESTS-HeadlessChrome*
geckodriver.log
__pycache__
.pytest_cache
.env
precalcInstaller
precalcstandaloneApplication
qsmrInstaller
qsmrstandaloneApplication
dist

